
kubeconfig
config
join_cmd.sh

# Visual Studio 2015/2017 cache/options directory
.vs/

.vagrant/machines/master/hyperv/Virtual Hard Disks/ubuntu-18.04-amd64.vhdx
.vagrant/machines/master/hyperv/creator_uid
.vagrant/machines/master/hyperv/id
.vagrant/machines/master/hyperv/index_uuid
.vagrant/machines/master/hyperv/vagrant_cwd
.vagrant/machines/master/hyperv/Virtual Machines/6D69D3A9-37AA-4AFC-AAEC-5E554A2E8CAF.VMRS
.vagrant/machines/master/hyperv/Virtual Machines/6D69D3A9-37AA-4AFC-AAEC-5E554A2E8CAF.vmcx
.vagrant/machines/master/hyperv/Virtual Machines/6D69D3A9-37AA-4AFC-AAEC-5E554A2E8CAF.vmgs
.vagrant/machines/node1/hyperv/vagrant_cwd
.vagrant/machines/node2/hyperv/vagrant_cwd
.vagrant/rgloader/loader.rb
.vagrant/
k/